<ion-view title="Obnova lozinke">
    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <input type="email" ng-model="user.email" placeholder="Upišite Vaš email">
            </label>
        </div>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        <button class="button button-block button-dark" ng-click="reset()">
            PROMJENI LOZINKU
        </button>
    </ion-content>
    <ion-content ng-show="state.success" has-header="true" has-tabs="true" padding="true">
        <div class="button-dark">Poslan Vam je email sa uputama kako da promjenite lozinku.</div>
        <button class="button button-block button-clear button-calm" ng-click="login()">
            Prijavite se
        </button>
    </ion-content>
</ion-view>
