<ion-view title="{{username}}" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true">
      <button class="button button-block button-dark" ui-sref="app.streets">
  Aktuelna očitanja
</button>
      <button class="button button-block button-dark" ng-click="getReadings()">
  Preuzmi očitanja
</button>
 <button class="button button-block button-dark" ng-click="sendReadings()">
  Pošalji očitanja
</button>
   



  <div class="card card-balanced" ng-show="brojPoslanihOcitanja>0">
  <div class="item item-text-wrap balanced">
 Broj poslanih očitanja {{brojPoslanihOcitanja}}
  </div>
</div>

 <div class="card card-assertive" ng-show="brojGresaka>0">
  <div class="item item-text-wrap assertive">
 Broj neposlanih očitanja {{brojGresaka}}
  </div>
</div>
    </ion-content>
</ion-view>
