<ion-view title="Prijava">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Korisničko ime</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Lozinka</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        <button class="button button-block button-dark" ng-click="login()">
           PRIJAVA
        </button>
        <button class="button button-block button-clear button-calm" ng-click="forgot()">
            Zaboravili ste lozinku?
        </button>
    </ion-content>
</ion-view>
