<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-dark">
			<h1 class="title">Izbornik</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close ui-sref="app.home">Početna</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.login" ng-hide="isLoggedIn">Prijava</ion-item>
<!--
				<ion-item nav-clear menu-close ui-sref="app.register" ng-hide="isLoggedIn">Register</ion-item>
-->
				<ion-item nav-clear menu-close ng-click="logout()" ng-show="isLoggedIn">Odjava</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
