<ion-view title="Registracija">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <input type="email" ng-model="user.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="user.password" placeholder="Password">
            </label>
        </div>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        <button class="button button-block button-positive" ng-click="register()">
            KREIRAJTE KORISNIČKI RAČUN
        </button>
       
    </ion-content>
</ion-view>
