<ion-view title="ULICE" right-buttons="rightButtons">
 <div class="bar bar-subheader item-input-inset">
 	<label class="item-input-wrapper">
 		<i class="icon ion-search placeholder-icon"></i>
  <input type="text" ng-model="searchText" placeholder="Pretraga" >
 <!-- <div   class="icon  ion-close-circled " ng-click="clearSearch()"></div>-->
   
</label>

</div>
    <ion-content has-header="true" class="has-subheader has-footer" has-tabs="true" padding="true">

     <ion-list>

  <ion-item ng-repeat="street in streets.data | orderBy: 'streetName' | filter:(!!searchText || undefined) && {streetName: searchText}"  
  href="#/app/street/{{street.streetId}}"  
  type="item-text-wrap" >
   
    <h2>
    	{{street.streetName}}   
    	
    </h2>
     	<span class="badge badge-dark">{{street.doneReadings}} / {{street.totalReadings}} ({{street.todoReadings}})</span>
   
  </ion-item>
</ion-list>
    </ion-content>

<div class="bar bar-footer bar-dark">
  <div class="title">
    <span class="badge badge-balanced">{{streets.doneReadings}}</span>/
    <span class="badge badge-positive">{{streets.totalReadings}}</span>
(    <span class="badge badge-assertive">{{streets.todoReadings}}</span>)
  </div>
</div>
</ion-view>



