<ion-view title="{{street.streetName}}" right-buttons="rightButtons">
<div class="bar bar-subheader item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
  <input type="text" ng-model="searchText" placeholder="Pretraga" >
 <!-- <div   class="icon  ion-close-circled " ng-click="clearSearch()"></div>-->
   
</label>

</div>
    <ion-content has-header="true" has-tabs="true" padding="true" class="has-subheader has-footer">

     <ion-list>
  <ion-item ng-repeat="reading in street.readings |  orderBy: 'user' | filter: search"  type="item-text-wrap" >
    <div class="row">
  <div class="col">Korisnik:</div>
  <div class="col col-75">{{reading.user}}</div>
</div>
   <div class="row">
  <div class="col">Kućni br.:</div>
  <div class="col col-75">{{reading.kucniBroj}}</div>
</div>
   <div class="row">
  <div class="col">Ser. Br: </div>
  <div class="col col-75">{{reading.serialNumber}}</div>
</div>
   <div class="row">
  <div class="col">Prošlo stanje: </div>
  <div class="col">{{reading.oldReading}}</div>
</div>
        <label class="item item-input">
    <span class="input-label">Novo stanje: </span>
    <input type="number" ng-model="reading.novoOcitanje" ng-blur="save(reading)" > <!--ng-blur="save(reading)"-->
  </label>

 <ion-checkbox ng-model="reading.isReset" ng-checked="reading.isReset" ng-change="save(reading)"> Reset brojila</ion-checkbox>
 <!--ng-change="save(reading)"-->
  
  <ion-checkbox ng-model="reading.isRead" ng-checked="reading.isRead" ng-change="save(reading)">Očitano</ion-checkbox>
  <!--ng-change="save(reading)"-->
  
 <label class="item item-input">
    <input type="text" ng-model="reading.note"  placeholder="Napomena" ng-blur="save(reading)"><!--ng-blur="save(reading)"-->
  </label>

  </ion-item>
</ion-list>
    </ion-content>

<div class="bar bar-footer bar-dark">
  <div class="title"> 
 <span class="badge badge-balanced">{{street.doneReadings}}</span>/
    <span class="badge badge-positive">{{street.totalReadings}}</span>
(    <span class="badge badge-assertive">{{street.totalReadings   - street.doneReadings}}</span>)
  </div>
</div>
</ion-view>
