<ion-view title="Application Name">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <button class="button button-block button-dark" ng-click="login()">
            PRIJAVITE SE
        </button>
<!--
        <button class="button button-block button-positive" ng-click="signUp()">
            SIGN UP
        </button>
-->
    </ion-content>
</ion-view>
