/* Empty. Add your own CSS if you like */

input {
   outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 1px #9ecaed;
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
